body {
  margin: 0;
}

.wallpaper {
  width: 100%;
  height: 100vh;
  background-image: url(../img/paisagem2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
